@page
@model Webapp.Pages.Kunde.CreateModel
@{
}
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div class="form-group">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            </div>
            <div class="form-group">
                <label asp-for="CreateViewModel.Name"></label>
                <input asp-for="CreateViewModel.Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="CreateViewModel.Email"></label>
                <input asp-for="CreateViewModel.Email" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="CreateViewModel.TlfNr"></label>
                <input asp-for="CreateViewModel.TlfNr" class="form-control" />
            </div>
            <button class="btn btn-success" type="submit" class="btn btn-default">Opret</button>
        </form>
    </div>
</div>